:root {
  --gradiant-light: linear-gradient(90deg, #bffddd 0%, #78ffd6 100%);
  --gradiant-dark: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  --gradiant-1: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
  --gradiant-2: linear-gradient(90deg, #d4fc79 0%, #96e6a1 100%);
  --gradiant-3: linear-gradient(90deg, #fffcdc 0%, #d9a7c7 100%);
  --gradiant-4: linear-gradient(90deg, #84fae6 0%, #81cff7 100%);
  --gradiant-5: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
  --gradiant-6: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
  --gradiant-7: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  --gradiant-9: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
  --gradiant-10: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
  --gradiant-11: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
  --gradiant-12: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
}

.gradient {
  background: var(--gradiant-4);
  background-size: 100vw;
}
.gradient-dark {
  background: var(--gradiant-dark);
  background-size: 100vw;
}
