.sidebarscroll::-webkit-scrollbar {
  width: 0.15rem;
}

.sidebarscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebarscroll::-webkit-scrollbar-thumb {
  background-color: rgb(79, 70, 229);
  outline: 1px solid rgb(79, 70, 229);
}


