@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
body:root {
  --recta_size: 17px;
  --title_hover_dark: #245abd;
  --title_hover_light: #abc4ff;
  --line_height: 16px;
}


body {
  
  background-color: #edf2fb;
  font-family: "Didact Gothic";
  -webkit-font-smoothing: antialiased;
  font-size: var(--recta_size);
  line-height: var(--line_height);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 20);
  outline: 0.5px solid rgb(255, 255, 255);
}

.navfont {
  font-family: "PT Sans", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.titlefont {
  font-family: "Copperplate", "Papyrus", "fantasy";
}

#content {
  line-height: normal;
}

.heading-fill {
  background: linear-gradient(to left, transparent 50%, #39A2DB 50%)
    right;

  background-size: 200%;
  transition: 0.2s ease-out;
}

.heading-fill-left:hover .heading-fill {
  background-position: left;
}

code {
  white-space: pre-wrap;
}