#content {
  line-height: normal;
}

.navFont {
  font-family: "PT Sans", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headingFill {
  background: linear-gradient(to left, transparent 50%, #84fae6 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
.headingFillDark {
  background: linear-gradient(to left, transparent 50%, #764ba2 50%) right;

  background-size: 200%;
  transition: 0.2s ease-out;
}

.headingFillLeft:hover .headingFill,
.headingFillLeft:hover .headingFillDark {
  background-position: left;
}

.sidebarscroll::-webkit-scrollbar {
  width: 0.15rem;
}

.sidebarscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebarscroll::-webkit-scrollbar-thumb {
  background-color: rgb(79, 70, 229);
  outline: 1px solid rgb(79, 70, 229);
}

.gradient {
  background-size: 100vw;
}
.gradientDark {
  background: var(--gradiant-dark);
  background-size: 100vw;
}
.blur {
  backdrop-filter: blur(6px);
  backface-visibility: visible;
}

.loading {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-size: larger;
}
.loadH2,
.loadP,
.loadingImage {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
