#content {
  line-height: normal;
}

.navFont {
  font-family: "PT Sans", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headingFill {
  background: linear-gradient(to left, transparent 50%, #84fae6 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
.headingFillDark {
  background: linear-gradient(to left, transparent 50%, #764ba2 50%) right;

  background-size: 200%;
  transition: 0.2s ease-out;
}

.headingFillLeft:hover .headingFill,
.headingFillLeft:hover .headingFillDark {
  background-position: left;
}

.sidebarscroll::-webkit-scrollbar {
  width: 0.15rem;
}

.sidebarscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebarscroll::-webkit-scrollbar-thumb {
  background-color: rgb(79, 70, 229);
  outline: 1px solid rgb(79, 70, 229);
}

.gradient {
  background-size: 100vw;
}
.gradientDark {
  background: var(--gradiant-dark);
  background-size: 100vw;
}
.blur {
  backdrop-filter: blur(6px);
}